* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Encode Sans", sans-serif;
  letter-spacing: 0.3px;
}

.primary {
  color: #1d1d1f;
}

.secondary {
  color: #9a9a9a;
}

.primary-text {
  color: #1d1d1f;
  font-size: 1.5rem;
}

.secondary-text {
  color: #9a9a9a;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.lead {
  font-size: 1.3rem;
  color: #000;
  font-weight: 600;
}

.box {
  padding: 35px 10px;
  background: #ffffff;
  position: relative;
  box-shadow: -6px -6px 12px rgba(244, 244, 244, 0.43),
    6px 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.chart_wrapper {
  margin-top: 3rem;
  height: 250px;
}
